{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Cadastrar Autor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h2>Cadastrar Autor</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'cadastrar_livro' %}">Cadastrar Livro</a> |
    <a href="{% url 'lista_cadastros' %}">Ver Cadastros</a>
</body>
</html>
