<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Página Inicial</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="main-content">
        <h1>Bem-vindo ao Sistema de Gerenciamento de Livros</h1>
        <p>Escolha uma opção:</p>

        <a href="{% url 'cadastro_autor' %}"><button>Cadastrar Autor</button></a>
        <a href="{% url 'cadastro_livro' %}"><button>Cadastrar Livro</button></a>
        <a href="{% url 'lista_cadastros' %}"><button>Ver Livros Cadastrados</button></a>
        <a href="{% url 'estoque' %}"><button>Ver Estoque</button></a>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Sistema de Gerenciamento de Livros</p>
    </footer>
</body>
</html>